html{
    font-family: "Poppins";
}
header h1{
    font-weight: bolder;
    color: #c05fba;
    font-size:30px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;

}
.container {
    position: relative;
    text-align: center;
    color: white;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 500;
  }

.section-heading{
    border-top: 1px solid #999fb3;
    margin-top: 50px;
    padding:30px;
    border-bottom: 1px solid #999fb3;
    text-align: center;
    color:#c05fba;
    background:  #f9fbfd;
}
  .about-content {
      padding-top: 100px;
    }


  /*.single-about-txt*/

  /* .single-about-txt.single-about-img{
    max-width: 500px;
    height: 468px;
  } */
  .single-about-txt h3 {
      margin-left: 40px;
      width: 650px;
      text-align: left;
      font-size:20px;
      color: #3c4258;
      text-transform: initial;
      line-height: 1.8;
      font-weight: 600;
  }
  .single-about-txt p {
    margin-left: 40px;
      text-align: left;
      width:650px;
      font-size: 18px;
      color: #999fb3;
      padding: 35px 0 43px;
      border-bottom: 1px solid #999fb3;
  }
  /* .single-about-txt.single-about-img{
      display: inline-block;
      float: right;

  } */
  .single-about-add-info {
      margin: 35px 0;
  }
  .single-about-img{
    position: absolute;
    right: 30px;
  }
  .single-about-add-info h3 {
      text-align: left;
      color: #636a82;
      font-size: 16px;
      text-transform: capitalize;
  }
  .single-about-add-info p {
      font-weight:  300;border:  0;
      padding: 0;;
      margin-left: 40px;
      font-size: 20px;
    }


.education-heading{
    margin-top: 150px;
    padding:30px;
    border-bottom: 1px solid #999fb3;
    text-align: center;
    color:#c05fba;
    border-bottom: 1px solid #999fb3;
    border-top: 1px solid #999fb3;
    background:  #f9fbfd;
    /* margin-bottom: 125px; */
}
.education-info{
    /* margin-left: 10px; */

    display: flex;
    justify-content: space-between;
    background:  #f9fbfd;
    text-align: center;
    padding:30px;
}
.description{
    color: #999fb3;
}
.education-container{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    background-color: white;
    border-radius: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.education-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.education-container h4{
    font-size: largeR;
    font-weight: 500;
}
.education-container h3{
    color: #999fb3;
    font-weight: 600;
}
.education{
    margin-bottom: 100px;
    border-bottom: 1px solid #999fb3;

}
.skills-heading{
    margin-top: 150px;
    padding:30px;
    border-bottom: 1px solid #999fb3;
    text-align: center;
    color:#c05fba;
    border-bottom: 1px solid #999fb3;
    border-top: 1px solid #999fb3;
    background:  #f9fbfd;
    /* margin-bottom: 100px; */
}
.whole-skills{
    display: flex;
    /* margin-bottom: 100px; */
}
.skills-set1{
    margin-left: 125px;
    padding: 1.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #999fb3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.skills-set2{
    margin-left: 125px;
    padding: 1.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    border-bottom: 1px solid #999fb3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.skills-set:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.contact-heading{
    padding:30px;
    border-bottom: 1px solid #999fb3;
    text-align: center;
    color:#c05fba;
    border-top: 1px solid #999fb3;
    background:  #f9fbfd;

}
.contact {
    background: #f9fbfd;
    /* padding: 50px 0 100px; */
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #c05fba;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #c508b9;
  }
  
  /* Add a background color and some padding around the form */
  .form {
    border-radius: 5px;
    background-color: #f9fbfd ;
    padding: 20px;
    width:50%;
    margin-left: 30px;
  }
.contact-info{
    display:flex;
}
.contact-address-head{
    font-size:  24px;
    color:  #3c4258;
    
}
.single-contact-add-info h3 {
    color:  #636a82;
    font-weight:  500;
}
.single-contact-add-info p {
    color:  #999fb3;
    font-size:  16px;
    margin-top:  18px;
    list-style: none;
}
/*hm-foot-icon*/

.hm-foot-icon ul li{
    list-style: none;
    float:left;
}
.hm-foot-icon ul li>a {
    color: #636a82;
    margin-right:18px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;

} 
.hm-foot-icon ul li>a:hover{
    color: #c05fba;
}
.hm-foot-icon ul li>a:active{
    color:#c508b9
}
.contact-address{
    margin-left: 100px;
    margin-top: 145px;
}